<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >Vecindario Seguro</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="home"><i class="fa fa-home"></i> Home</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="publicaciones"><i class="fa fa-newspaper"></i> Publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="emergencia"><i class="fa fa-exclamation-triangle"></i> Emergencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mapa"><i class="fa fa-map"></i> Mapa</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger nav-link" (click)="logout()"><i class="fa fa-sign-out-alt"></i> Cerrar sesión</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>