<div class="x-layout">
  <!-- Encabezado -->
  <div class="header">
      <h2 class="title">Publlicaciones</h2>
      <div class="aside-actions">
          <button class="btn-create" data-bs-toggle="modal" data-bs-target="#modalAlumno" (click)="titulo('Crear', null)">
              + Nueva Publicacion
          </button>
          <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
      </div>
  </div>

  <!-- Publicaciones (alumnos) -->
  <div class="posts">
      <div class="post" *ngFor="let lista of listaAlumnos; index as i">
          <!-- Encabezado de la publicación -->
          <div class="post-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStihKLR4QsliwDXi8x2pJx20dW0zfRKVAiaA&s" alt="Avatar" class="user-avatar" />
            <span class="username">{{ lista.nombreusu }}</span>
            <span class="timestamp">{{ lista.fecha }}</span>
        </div>

          <!-- Contenido -->
          <div class="post-body">
              <p><strong>DNI:</strong> {{ lista.dni }}</p>
              <p><strong>Ciclo:</strong> {{ lista.ciclo }}</p>
              <p><strong>Estado:</strong> {{ lista.estado === 'A' ? 'Activo' : 'Inactivo' }}</p>
          </div>

          <!-- Acciones -->
          <div class="post-actions">
            <button class="btn-comment">
              <i class="bi bi-chat"></i>
          </button>
            <button class="btn-edit" data-bs-toggle="modal" data-bs-target="#modalAlumno" (click)="titulo('Editar', lista.id)">
                Editar
            </button>
            <button class="btn-delete" (click)="eliminarAlumnos(lista.id)">
                Eliminar
            </button>
        </div>
      </div>
  </div>
</div>


<!-- Modal -->
<!-- Modal -->
<form [formGroup]="formAlumno">
    <div class="modal fade" id="modalAlumno">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{title}}</h5>
            <button type="button" class="btn-close" (click)="cerrarBoton()"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" required>
                  <label for="Nombre">Nombre</label>
                  <small *ngIf="formAlumno.controls['nombre'].hasError('required') && formAlumno.controls['nombre'].touched" class="text-danger">
                    Campo obligatorio
                  </small>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
                  <label for="Apellido">Apellido</label>
                  <small *ngIf="formAlumno.controls['apellido'].hasError('required') && formAlumno.controls['apellido'].touched" class="text-danger">
                    Campo obligatorio
                  </small>
                </div>
              </div>
              <div class="col-6">
                
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" placeholder="DNI"
                        formControlName="dni" maxlength="8" required>
                      <label for="DNI">DNI</label>
                      <small *ngIf="formAlumno.controls['dni'].hasError('required') && formAlumno.controls['dni'].touched" class="text-danger">
                        Campo obligatorio.
                      </small>
                      <small *ngIf="formAlumno.controls['dni'].hasError('pattern') && formAlumno.controls['dni'].touched" class="text-danger">
                        Debe de ser exactamente 8 dígitos numéricos.
                      </small>
                    </div>
                  
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" placeholder="Ciclo" formControlName="ciclo">
                  <label for="Ciclo">Ciclo</label>
                  <small *ngIf="formAlumno.controls['ciclo'].hasError('required') && formAlumno.controls['ciclo'].touched" class="text-danger">
                    Campo obligatorio
                  </small>
                  <small *ngIf="formAlumno.controls['ciclo'].hasError('min') && formAlumno.controls['ciclo'].touched" class="text-danger">
                    Tiene que ser mayor a 0
                  </small>
                  <small *ngIf="formAlumno.controls['ciclo'].hasError('max') && formAlumno.controls['ciclo'].touched" class="text-danger">
                    Tiene que ser maximo 6
                  </small>
                </div>

                <div class="form-floating">
                    <input type="estado" class="form-control" placeholder="Estado" formControlName="estado">
                  <label for="floatingSelect">Estado</label>
                  <small *ngIf="formAlumno.controls['estado'].hasError('required') && formAlumno.controls['estado'].touched" class="text-danger">
                    Campo obligatorio
                  </small>
                  <small *ngIf="formAlumno.controls['estado'].hasError('validEstado') && formAlumno.controls['estado'].touched" class="text-danger">
                    Debe ser A o I
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cerrarBoton()">Cerrar</button>
            <button type="submit" class="btn btn-primary" (click)="crearEditarAlumno(nameBoton)">{{nameBoton}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

